
a {
	color: #{$primary};
	&:hover {
		color: #{$primary};
	}
}
.bg-primary {
	background: #{$primary} !important;
}
a.bg-primary {
	&:hover, &:focus {
		background-color: #{$primary} !important;
	}
}
button.bg-primary {
	&:hover, &:focus {
		background-color: #{$primary} !important;
	}
}
.bg-secondary {
	background: $secondary !important;
}
a.bg-secondary {
	&:hover, &:focus {
		background-color: $secondary !important;
	}
}
button.bg-secondary {
	&:hover, &:focus {
		background-color: $secondary !important;
	}
}




.select2-container--default {
	&.select2-container--focus .select2-selection--multiple {
		border-color: #{$primary};
	}
	.select2-selection--multiple .select2-selection__choice {
		background-color: #{$primary} !important;
		border: 1px solid #{$primary} !important;
	}
}




/*----- Custom control -----*/

.timeline__item:after {
	border: 6px solid #{$primary};
}
.custom-control-input:checked~.custom-control-label::before {
	background-color: #{$primary};
}
.custom-checkbox .custom-control-input {
	&:checked~.custom-control-label::before, &:indeterminate~.custom-control-label::before {
		background-color: #{$primary};
	}
}
.custom-radio .custom-control-input:checked~.custom-control-label::before {
	background-color: #{$primary};
}
.custom-select:focus {
	border-color: #{$primary};
}
.custom-file-label::after {
	background-color: #{$primary};
}
.custom-range {
	&::-webkit-slider-thumb, &::-moz-range-thumb, &::-ms-thumb {
		background-color: #{$primary};
	}
}

/*------ Email services -------*/

.range.range-primary {
	input[type="range"] {
		&::-webkit-slider-thumb, &::-moz-slider-thumb {
			background-color: #{$primary};
		}
	}
	output {
		background-color: #{$primary};
	}
	input[type="range"] {
		outline-color: #{$primary};
	}
}
/*------ Pricing Styles ---------*/

.panel.price>.panel-heading {
	background: #{$primary};
}
.nav-tabs .nav-item1 .nav-link {
	&:hover:not(.disabled), &.active {
		background: #{$primary};
	}
}
.pop-primary {
	color: #{$primary};
}
.popsecondary {
	color: $secondary;
}

.breadcrumb-item1 a {
	color: #{$primary};
}
/*-----Badges-----*/

.badge-primary {
	color: $white;
	background: #{$primary};
	&[href] {
		&:hover, &:focus {
			color: $white;
			text-decoration: none;
			background-color: #635bca;
		}
	}
}
.badge-secondary {
	color: $custom-white;
	background: $secondary !important;
	&[href] {
		&:hover, &:focus {
			color: $custom-white;
			text-decoration: none;
			background: $secondary;
		}
	}
}

/*------ Headers -------*/

.header, .header-bg {
	background: #{$primary};
}
.text-blue {
	color: #{$primary} !important;
}
.nav-tabs .nav-link {
	&:hover:not(.disabled), &.active {
		background: #{$primary};
	}
}

@media (max-width: 992px) {
	.nav-item.with-sub .sub-item {
		border-block-start: 2px solid #{$primary};
	}
}
/*--------panel----------*/

.expanel-primary {
	border: #{$primary} !important;
}
.expanel-secondary {
	border: $secondary !important;
}
.expanel-primary>.expanel-heading {
	color: $white !important;
	background-color: #{$primary} !important;
	border-color: #{$primary} !important;
}
.expanel-secondary>.expanel-heading {
	color: $white !important;
	background-color: $secondary !important;
	border-color: $secondary !important;
}
/*-------- Loaders ---------*/

.spinner, .spinner-lg, .double-bounce1, .double-bounce2, .cube1, .cube2 {
	background-color: #{$primary};
}
.lds-heart div {
	background: #{$primary};
	&:after, &:before {
		background: #{$primary};
	}
}
.lds-ring div {
	border: 6px solid #{$primary};
	border-color: #{$primary} transparent transparent transparent;
}
/*PMboYSIqMee+p4uAjskftSrErYaF9PDNDn+EGSzR9N2BspYI8=
feCz66HNQhyoUIndT6pXQpWta+PA3e1h3yExMyH1EsOo6f8PXnNPyHGLRfchOSF9WSX7exs=*/

.lds-hourglass:after {
	border: 26px solid #{$primary};
	border-color: #{$primary} transparent;
}
.form-signin .form-control:focus {
	border-block-end: 1px solid #{$primary};
}
a.chip:hover {
	background-color: #{$primary};
}
/*---- Tags-----*/



.timeline--horizontal .timeline-divider {
	background: #{$primary} !important;
}
/*-----Back to Top-----*/

#back-to-top {
	background: #{$primary};
	&:hover {
		color: #{$primary} !important;
		border: 2px solid #{$primary};
	}
}
// .tabs-menu1 ul li .active {
// 	border-block-end: 5px solid #{$primary};
// }
/*-- rating--*/

.rating-stars .rating-stars-container .rating-star {
	&.is--active .fa-heart, &.is--hover .fa-heart {
		color: #{$primary};
	}
}
.message-feed:not(.right) .mf-content {
	background: #{$primary};
	&:before {
		border-right-color: #{$primary};
	}
}
.msb-reply button {
	background: #{$primary};
}
/* --------Added--------- css*/

.cal1 .clndr {
	.clndr-table {
		.header-days {
			background: #{$primary};
		}
		tr .day {
			&.today.event, &.my-today.event {
				background: #{$primary};
			}
		}
	}
	.clndr-controls .clndr-control-button {
		.clndr-previous-button {
			background: #{$primary};
		}
		.clndr-next-button {
			background: #{$primary};
			&:hover {
				background: #{$primary};
			}
		}
		.clndr-previous-button:hover {
			background: #{$primary};
		}
	}
}
.fc-event {
	border: 1px solid #{$primary};
	background-color: #{$primary};
}
.fc-event-dot {
	background-color: #{$primary};
}
/* ----Added css----*/

div.conv-form-wrapper div.options div.option {
	color: #{$primary};
	border: 1px solid #{$primary};
}
form.convFormDynamic button.submit {
	color: #{$primary};
	border: 1px solid #{$primary} !important;
}
div.conv-form-wrapper div.options div.option.selected {
	background: #{$primary};
	&:hover {
		background: #{$primary};
	}
}
form.convFormDynamic button.submit:hover {
	background: #{$primary} !important;
}
div.conv-form-wrapper div#messages div.message.from {
	background: #{$primary};
}
.addui-slider .addui-slider-track {
	.addui-slider-handle:after, .addui-slider-range {
		background: #{$primary};
	}
}
.timeline__item:after {
	border: 6px solid #{$primary};
}
.tab_wrapper>ul li.active {
	border-color: #{$primary};
	background: #564fc1;
}
.cal1 .clndr .clndr-table tr .day {
	&.today, &.my-today {
		background: #{$primary};
	}
}

.weather-card .top {
	background: #{$primary};
}
.primary .pricing-divider {
	background: linear-gradient(to bottom right, #635bca, #{$primary}) !important;
	padding-inline: 0;
	padding-block-start: 1em;
	padding-block-end: 4em;
	position: relative;
}
.secondary .pricing-divider {
	background: linear-gradient(to bottom right, $secondary 0%, #79f1e9 100%) !important;
	padding-inline: 0;
	padding-block-start: 1em;
	padding-block-end: 4em;
	position: relative;
}
.product-grid6 {
	.title a:hover {
		color: #{$primary};
	}
	.icons li a {
		color: #{$primary};
		border: 1px solid #{$primary};
	}
}
#user-profile .profile-details {
	a>i, i {
		color: #{$primary};
	}
}

/*---about us---*/

.statistics-info .counter-icon {
	i {
		color: #{$primary};
	}
	border: 1px solid #{$primary};
}
.chat .msg_head {
	background: #{$primary};
}
.top-footer {
	p:hover {
		color: #{$primary};
	}
	a {
		address:hover, &:hover {
			color: #{$primary};
		}
	}
}
.footer-payments a:hover, .footer-social-list a:hover, .sw-theme-dots .nav-tabs .nav-link:hover:not(.disabled) {
	color: #{$primary};
}
.label-primary {
	background: #{$primary};
}
.sweet-alert button {
	background-color: #{$primary} !important;
}
/*PMboYSIqMee+p4uAjskftSrErYaF9PDNDn+EGSzR9N2BspYI8=
feCz66HNQhyoUIndT6pXQpWta+PA3e1h3yExMyH1EsOo6f8PXnNPyHGLRfchOSF9WSX7exs=*/

/*Horizontal menu */

.hor-menu .horizontalMenu>.horizontalMenu-list>li>a {
	&.active, &:hover {
		color: $white;
		background: #1a2f44;
	}
	&.active:hover {
		color: $white;
	}
}
.horizontalMenu>.horizontalMenu-list>li> {
	a i {
		color: $secondary;
	}
	ul.sub-menu>li> {
		a:hover, ul.sub-menu>li>a:hover {
			text-decoration: none;
			color: #{$primary};
		}
	}
	.horizontal-megamenu .link-list li a:hover {
		text-decoration: none;
		color: #{$primary};
	}
}

.form-control.header-search::placeholder {
	color: #f2f2ff;
	opacity: 0.5;
}
.onoffswitch-checkbox:checked+.onoffswitch-label {
	background-color: #{$primary};
	border-color: #{$primary};
	&:before {
		border-color: #{$primary};
	}
}
.onoffswitch2-checkbox:checked+ {
	.onoffswitch2-label {
		background-color: #{$primary};
	}
	.onoffswitch-label2, .onoffswitch2-label:before {
		border-color: #{$primary};
	}
}
.badge-primary-gradient {
	color: $white;
	background: linear-gradient(to bottom right, #{$primary} 0%, #6c64ce 100%) !important;
	&[href] {
		&:hover, &:focus {
			color: $white;
			text-decoration: none;
			background-color: #{$primary};
		}
	}
}
.custom-switch-input {
	&:checked~.custom-switch-indicator {
		background: #{$primary};
	}
	&:focus~.custom-switch-indicator {
		border-color: #{$primary};
	}
}
.ms-choice {
	color: #{$primary} !important;
}
.sidebar .tabs-menu ul li .active {
	background: #{$primary};
}
.chat .search_btn {
	background-color: #{$primary} !important;
}
.page-link:hover {
	color: #{$primary};
}
/*left-menu*/

.left-app {
	.side-menu__icon, .slide-item.active {
		color: #{$primary};
	}
}
.slide-item {
	&:hover, &:focus {
		color: #{$primary};
	}
}
.left-app {
	.slide.submenu .side-menu__label:hover, .side-menu .slide-menu.submenu-list a:hover {
		color: #{$primary};
	}
}
/* left-menu2 */

.left-menu2 {
	.side-menu__item.active:hover {
		background: #{$primary};
		color: $white;
		background: #{$primary};
		color: $white;
	}
	.side-menu li.active>a {
		color: #{$primary};
	}
	.side-menu__item.active {
		color: $white !important;
		background: #{$primary} !important;
	}
	.slide-menu li.active>a {
		color: #{$primary};
	}
	.side-menu li a:hover {
		color: $white;
		background: #{$primary};
	}
	.slide-menu li {
		&.active>a, a:hover {
			color: #{$primary};
			background: none;
		}
	}
	.side-menu__icon {
		color: #{$primary};
	}
}