@media (min-width: 992px) {

    .sidebar-mini {

        &.sidenav-toggled {
            .app-content {
                margin-inline-start: 4.375rem;
            }
        }
    }
}

.app-content {
    transition: all 100ms ease;
}


@media (max-width: 991px) {
    .app-content {
        min-width: 100%;
    }
}

@media (min-width: 992px) {
    .app-content {
        margin-inline-start: 250px;
    }
}

// .main-content {
// 	min-height: calc(100vh - 127px);
// 	overflow: hidden;
//     z-index: 0;
// }