.app-sidebar {
    position: fixed;
    inset-block: 0;
    inset-inline-start: 0;
    width: 15.625rem;
    background: #{$sidemenu-bg};
    overflow: auto;
    box-shadow: 0 1.563rem 3.125rem $shadow-color;
    border-inline-end: 1px solid #{$border};
    transition: all 100ms ease;
    z-index: 1024;
}

.app-sidebar__header {
    display: flex;
    align-items: center;
    height: 4.125rem;
    padding: 0.625rem 1.25rem;
    width: 15.625rem;
    background: $sidemenu-bg;
    border-block-end: 1px solid #{$border};
    position: fixed;
    border-inline-end: 1px solid #{$border};
    z-index: 999;
    inset-block-start: 0;
    inset-inline: 0;
    transition: all 100ms ease;
}

.main-logo {
    text-align: center;
    margin: 0 auto !important;
    img{
        // height: 2.2rem;
        margin: 0 auto;
        max-width: 100%;
    }
}

.mobile-logo, .desktop-logo {
    display: none;
}

.desktop-logo-dark {
    display: block;
}

.app-sidebar__user {
    position: relative;
    padding: 1.125rem 0px;
    text-align: center;
    background-repeat: no-repeat;
    border-block-end: 1px solid #{$border};
    color: #3c4858;
}

.app-sidebar__profile-img {
    transition: width ease 0.3s;
    width: 4rem;
}

.app-sidebar__user-name, .app-sidebar__user-designation {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 80%;
    margin: 0 auto;
}

.app-sidebar__user-name {
    font-size: 1.063rem;
    line-height: 1.3;
}

.side-menu {
    margin-block-end: 0;
    padding: 0.625rem;

    .sub-category {
        color: #74829c;
        margin-block-end: 0.5rem;
        padding-block-start: 0;
        padding-inline-end: 1.875rem;
        padding-block-end: 0.125rem;
        padding-inline-start: 1.25rem;
        margin-block-end: 0;
        white-space: nowrap;
        position: relative;

        h3 {
            margin-block-end: 0;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            font-size: 0.688rem;
            font-weight: 500;
        }
        &:not(:first-child) {
            margin-block-start: 1rem;
        }
    }
}

.slide {
    position: relative;

    &.is-expanded {
        .angle {
            transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
        }
    }
}

.angle {
    opacity: 0.6;
    transition: transform ease 0.3s;
}

.side-menu__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.625rem 0.938rem;
    font-size: 0.875rem;
    font-weight: 500;
    -webkit-transition: border-inline-start-color 0.3s ease, background-color 0.3s ease;
    -o-transition: border-inline-start-color 0.3s ease, background-color 0.3s ease;
    transition: border-inline-start-color 0.3s ease, background-color 0.3s ease;
    color: $default-color;
    margin: 0.25rem 0px;
    white-space: nowrap;

    &:is(:hover, :focus, .active) {
        color: $primary;
        background-color: #{$primary-005};
        border-radius: $card-border-radius;
        .side-menu__icon {
            color: $primary;
            svg {
                fill: $primary;
            }
        }
    }
}

.side-menu__icon {
    position: relative;
    color: #{$menu-primary};
    font-size: 1.2rem;
    line-height: 0;
    text-align: center;
    vertical-align: middle;
    margin-inline-end: 0.5rem;
    margin-block-start: 1px;
    svg {
        width: 20px;
        height: 20px;
        fill: #{$menu-primary};
    }
}

.side-menu__label {
    white-space: nowrap;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-block-start: 2px;
}

.slide-menu {
    margin-inline-start: 1.25rem;
    display: none;
    height: auto;
    
    li {
        position: relative;
    }
}

.slide-item, .sub-side-menu__item, .sub-slide-item2 {
    font-size: 0.813rem;
    color: $default-color;
    padding-block: 0.5rem;
    padding-inline-start: 1.7rem;
    padding-inline-end: 0.75rem;
    line-height: 1;
    display: block;
    position: relative;

    &::before {
        content: "\e0e7";
        inset-block-start: 0.55rem;
        inset-inline-start: 0.7rem;
        position: absolute;
        font-family: "typicons" !important;
        opacity: 0.4;
        font-size: 0.8rem;
    }
    &:is(:hover, .active) {
        color: #{$menu-primary};
        &::before {
            opacity: 1;
        }
    }
}

.slide-right, .slide-left {
    inset-block: 0;
    background-color: transparent;
}

.sub-angle, .sub-angle2 {
    color: $default-color !important;
    position: absolute;
    inset-block-start: 50%;
    transform: translateY(-50%);
}

.sub-angle {
    inset-inline-end: 12px;
}

.sub-angle2 {
    inset-inline-end: 10px;
}

.sub-slide-menu, .sub-slide-menu1 {
    display: none;
    margin-inline-start: 1.25rem;
}

.sub-slide.is-expanded .sub-slide-menu {
    display: block;
}

.sidebar-mini {
    .slide-left, .slide-right {
        display: none;
    }
}

@media (min-width: 992px) {
    .sidebar-mini.sidenav-toggled {
        .app-sidebar {
            inset-inline-start: 0;
            width: 4.375rem;

            .side-menu {
                .sub-category {
                    display: none;
                }
            }
        }

        .app-sidebar__header {
            width: 4.375rem;
            padding: 0.625rem;
        }

        .desktop-logo {
            display: none;
        }

        .mobile-logo {
            display: none;
            
            &.mobile-logo-dark {
                display: block;
            }
        }

        .side-menu__item {
            display: block;
            text-align: center;
        }

        .app-sidebar__profile-img {
            width: 2.5rem;
        }

        .app-header {
            padding-inline-start: 4.313rem
        }

        .app-sidebar__user-name, .app-sidebar__user-designation,
        .side-menu__label, .angle, .slide.is-expanded .slide-menu {
            display: none !important;
        }

        &.show-sidenav {
            .app-sidebar {
                width: 15.625rem;
            }

            .mobile-logo {
                display: none;
            }

            .desktop-logo {
                display: none;

                &.desktop-logo-dark {
                    display: block;
                }
            }

            .app-sidebar__profile-img {
                width: 4rem;
            }

            .app-sidebar__user-name, .app-sidebar__user-designation,
            .side-menu__label, .angle, .slide.is-expanded .slide-menu {
                display: block !important;
            }

            .side-menu__item {
                display: flex;
                align-items: center;
                text-align: start;
            }

            .side-menu__icon {
                margin-inline-end: 0.938rem !important;
            }
            
            .app-sidebar__header {
                width: 15.625rem;
                padding: 0.625rem 1.25rem;
            }

        }
    }
    .sidebar-mini .app-sidebar {
        .main-sidemenu {
            margin-block-start: 5rem;
        }
    }

    .app.sidenav-toggled .side-menu .side-menu__icon {
        margin-inline-end: 0;
        margin-inline-start: 0;
    }
}


@media (max-width: 991px) {
	.app .app-sidebar {
		inset-inline-start: -15.625rem;
	}

    .app.sidenav-toggled .app-sidebar {
        inset-inline-start: 0;
    }

    .app-sidebar {
        z-index: 1029 !important;
        inset-block-start: 4.125rem !important;
    }

    .app-sidebar__header {
        display: none;
    }

    .main-logo img{
        height: 2.2rem;
    }

    .app .app-sidebar {
        inset-inline-start: -15.625rem;
    }
}

.side-menu__label1 {
    display: none !important;
}

.sidetab-menu {
    .menutabs-content, .tab-menu-heading {
      display: none;
    }

    .panel-body {
        background: transparent;
    }
}

@media (max-width:991px) {
    .app .app-sidebar {
        .main-sidemenu {
            #side2, #side4, #side6, #side8, #side10, #side12, #side14, #side16, #side18, #side20, #side22, #side24 {
                display: none;
            }
        .tab-content>.tab-pane {
            display: block;
        }
    }
  }
}

[data-vertical-style="default"], [data-vertical-style="closed"], [data-vertical-style="icontext"], [data-vertical-style="overlay"], 
[data-vertical-style="hover"], [data-vertical-style="hover1"], [data-vertical-style="doublemenu"] {
    @media (min-width:992px) {
        .app .app-sidebar {
            .main-sidemenu {
                #side2, #side4, #side6, #side8, #side10, #side12, #side14, #side16, #side18, #side20, #side22, #side24 {
                    display: none !important;
                }
                .tab-content>.tab-pane {
                display: block;
                }
            }
        }
    }
}

[data-layout="horizontal"] {
    .app .app-sidebar {
        .main-sidemenu {
            #side2, #side4, #side6, #side8, #side10, #side12, #side14, #side16, #side18, #side20, #side22, #side24 {
                display: none !important;
            }
            .tab-content>.tab-pane {
            display: block;
            }
        }
    }
}


// ----- ICON TEXT -------//

[data-vertical-style="icontext"] {
    @media (min-width: 992px) {
        .app.sidenav-toggled .side-menu .side-menu__icon {
            // margin-block-end: 0.313rem;
            svg{
                width: 20px;
                height: 20px;
            }
        }

        .sidenav-toggled .side-menu__label {
            display: block !important;
            position: relative !important;
            margin-block-start: 0 !important;
        }

        .app.sidenav-toggled {

            .app-sidebar {
                width: 6.875rem ;
            }

            .app-sidebar__header {
                width: 6.875rem ;
            }

            .app-header {
                padding-inline-start: 6.688rem;
            }

            .app-content {
                margin-inline-start: 110px;
            }
        }

        .app.sidebar-mini.show-sidenav {
            .app-sidebar {
                width: 15rem !important;
            }

            .app-sidebar__header {
                width: 15rem !important;
            }

            .close-toggle {
                display: none !important;
            }
        }

        .sidebar-mini.show-sidenav .side-menu .slide .side-menu__item.active {
            width: inherit;
            height: inherit;
        }
    }
}

// ----- ! ICON TEXT -------//


// ----- CLOSED MENU -------//

[data-vertical-style="closed"] {
    @media (min-width:992px) {
        .app.sidenav-toggled .app-sidebar {
            display: none !important;
        }

        .app.sidenav-toggled {
            .app-content {
                margin-inline-start: 0px !important;
            }

            .app-header {
                padding-inline-start: 0px !important;
            }
        }
    }
}

// ----- ! CLOSED MENU -------//


// ----- HOVER SUBMENU -------//

[data-vertical-style="hover"] {
    .sub-slide a {
        text-decoration: none;
    }

    @media (min-width: 992px) {
        .app.sidenav-toggled .side-menu .side-menu__icon {
            // margin-block-end: 0.313rem;
            svg{
                width: 20px;
                height: 20px;
            }
        }
        .show-sidenav .slide-menu {
            border-start-start-radius: 0 !important;
            border-start-end-radius: 0.313rem !important;
            border-end-end-radius: 0.313rem !important;
            border-end-start-radius: 0 !important;
        }

        .slide-item {
            padding-block: 0.5rem;
            padding-inline-start: 2.188rem;
            padding-inline-end: 1.125rem;
        }

        .slide-menu {
            border-start-start-radius: 0;
            border-start-end-radius: 0.313rem;
            border-end-end-radius: 0.313rem;
            border-end-start-radius: 0;
        }


        .sidebar-mini.sidenav-toggled.show-sidenav .slide .slide-menu {
            position: absolute;
            inset-inline-start: 4.938rem;
            min-width: 12.938rem;
            opacity: 1;
            z-index: 9999;
            visibility: hidden;
            inset-block-start: 0;
            display: block;
            max-height: inherit;
        }

        .app-sidebar .slide {
            position: relative;
            display: block;
        }

        .app.show-sidenav {
            .ps>.ps__rail-y {
                display: none !important;
            }

            .slide-menu {
                padding-inline-start: 0 !important;
                padding: 0.625rem 0px !important;
                position: absolute;
                background: #{$sidemenu-bg};
                opacity: 1;
                visibility: visible;
                z-index: 999;
                width: 12.938rem;
                inset-inline-start: 6.875rem;
                border: 1px solid #{$border};
                transition: none !important;
                display: block !important;
                inset-block-start: 0;
            }

            .slide:hover .slide-menu {
                visibility: visible;
                display: block !important;
                height: auto !important;
            }

            .app-sidebar {
                overflow: visible !important;
                position: absolute !important;
            }

            .side-menu__label {
                white-space: nowrap;
                display: block;
                position: relative;
                padding: 0;
                margin: 0;
                inset-inline-start: 0;
                opacity: 1;
                background: transparent;
                font-size: 12px;
                box-shadow: none;
            }

            .side-menu .side-menu__icon {
                margin-block-end: 0.313rem !important;
            }

            .app-sidebar__header {

                .desktop-logo {
                    display: none !important;
                }

                .mobile-logo {
                    display: none !important;
                }

                .mobile-logo-dark {
                    display: block !important;
                }
            }

            .side-item.side-item-category {
                display: none !important;
            }

            .side-menu__icon {
                margin-inline-end: 0;
                margin-inline-start: 0;
                margin: 0 auto !important;
            }

            .side-menu .slide .side-menu__item.active {
                display: block;
                text-align: center;
            }

            .side-menu .slide .side-menu__item {
                display: block;
                text-align: center;

                .angle {
                    display: none !important;
                }
            }
        }

        .app.sidenav-toggled {
            .app-content {
                min-height: 81.25rem;
            }

            .side-menu__label {
                font-size: 0.813rem !important;
            }

            .app-sidebar {
                position: absolute !important;
            }

            .side-menu .side-menu__icon {
                margin-block-end: 0.313rem;
            }

            .side-menu__label {
                display: block !important;
                margin-block-start: 0;
            }

            .app-sidebar__toggle .close-toggle {
                display: block;
            }

            .app-header {
                padding-inline-start: 6.813rem;
            }

            .app-sidebar__header {
                width: 6.875rem;
            }

            .app-content {
                margin-inline-start: 6.875rem;
            }

            .app-sidebar {
                inset-inline-start: 0;
                width: 6.875rem !important;
            }

            .app-sidebar__overlay {
                visibility: hidden;
            }

            .slide.is-expanded .slide-menu {
                display: none;
            }
        }

        .side-badge {
            display: none;
        }

        .app-header {
            inset-inline-start: 0;
            inset-inline-end: 0;
            inset-block-start: 0;
            position: fixed;
            z-index: 1;
        }
    }

}

// -----! HOVER SUBMENU -------//


// ----- HOVER SUBMENU 1 -------//

[data-vertical-style="hover1"] {
    @media (min-width:992px) {
        .sub-slide a {
            text-decoration: none;
        }

        .show-sidenav .slide-menu {
            border-start-start-radius: 0 !important;
            border-start-end-radius: 0.313rem !important;
            border-end-end-radius: 0.313rem !important;
            border-end-start-radius: 0 !important;
        }


        .slide-item {
            padding-block: 0.5rem;
            padding-inline-start: 2.188rem;
            padding-inline-end: 1.125rem;
        }

        .sidenav-toggled .side-menu__label1 {
            display: block !important;
        }


        .sidebar-mini.sidenav-toggled.show-sidenav .slide .slide-menu {
            position: absolute;
            inset-inline-start: 2.438rem;
            min-width: 11.25rem;
            opacity: 1;
            z-index: 9999;
            visibility: hidden;
            inset-block-start: 0;
            display: block;
            max-height: inherit;
        }

        .app-sidebar .slide {
            position: relative;
            display: block;
        }

        .app.show-sidenav {
            .ps>.ps__rail-y {
                display: none !important;
            }

            .side-menu__label1 {
                display: block;
                font-size: 0.938rem;
                font-weight: 500;
                border-block-end: 1px solid #{$border};
                padding: 0.625rem 1.25rem !important;
                margin-block-end: 0.375rem;

                a {
                    color: #{$menu-primary} !important;
                }
            }

            .slide-menu {
                padding-inline-start: 0 !important;
                position: absolute;
                background: #{$sidemenu-bg};
                opacity: 1;
                visibility: visible;
                z-index: 999;
                inset-inline-start: 6.875rem;
                width: 12.5rem;
                border: 1px solid #{$border};
                transition: none !important;
                display: block !important;
                inset-block-start: 0;
            }

            .slide:hover .slide-menu {
                visibility: visible;
                display: block !important;
                height: auto !important;
            }

            .app-sidebar {
                overflow: visible !important;
                position: absolute !important;
            }

            .side-menu__label {
                display: none !important;
                white-space: nowrap;
                display: block;
                position: relative;
                padding: 0;
                margin: 0;
                inset-inline-start: 0;
                color: #{$default-color};
                opacity: 1;
                background: transparent;
                font-size: 0.75rem;
                box-shadow: none;
            }

            .app-sidebar__header {

                .desktop-logo {
                    display: none !important;
                }

                .mobile-logo {
                    display: none !important;
                }

                .mobile-logo-dark {
                    display: block !important;
                }
            }

            .side-item.side-item-category {
                display: none !important;
            }

            .side-menu__icon {
                margin-inline-end: 0;
                margin-inline-start: 0;
                margin: 0 auto !important;
            }

            .side-menu .slide .side-menu__item.active {
                display: block;
                text-align: center;
            }

            .side-menu .slide .side-menu__item {
                display: block;
                text-align: center;

                .angle {
                    display: none !important;
                }
            }

            .side-menu__label {
                display: none !important;
            }
        }

        .app.sidenav-toggled {
            .app-content {
                min-height: 81.25rem;
            }

            .side-menu__label {
                display: none !important;
            }

            .side-menu__label {
                font-size: 0.813rem !important;
            }

            .app-sidebar {
                position: absolute !important;
            }

            .app-sidebar__toggle .close-toggle {
                display: block;
            }

            .app-header {
                padding-inline-start: 4.313rem;
            }

            .app-sidebar__header {
                width: 4.375rem;
                padding: 0.625rem;
            }

            .app-content {
                margin-inline-start: 4.375rem;
            }

            .app-sidebar {
                inset-inline-start: 0;
                width: 4.375rem;
            }

            .app-sidebar__overlay {
                visibility: hidden;
            }

            .slide.is-expanded .slide-menu {
                display: none;
            }
        }

        .side-badge {
            display: none;
        }

        .app-header {   
            inset-inline-start: 0;
            inset-inline-end: 0;
            inset-block-start: 0;
            position: fixed;
            z-index: 1;
        }
    }
}

// -----! HOVER SUBMENU 1 -------//


// ----- DOUBLE MENU  -------//

[data-vertical-style="doublemenu"] {
    @media (min-width:992px) {
        .app {
            .slide .side-menu__item:hover+.slide-menu {
                visibility: hidden;
            }

            .app-sidebar {
                position: fixed !important;
                overflow: visible !important;
                inset-inline-start: 0;
                width: 4.375rem !important;
            }

            .app-content {
                min-height: 81.25rem;
            }

            .side-menu__label {
                display: none !important;
                font-size: 11px !important;
                white-space: nowrap;
                display: block;
                position: relative;
                padding: 0;
                margin: 0;
                inset-inline-start: 0;
                color: #{$default-color};
                opacity: 1;
                background: transparent;
                box-shadow: none;
            }

            .side-menu__label1 {
                display: block !important;
                font-size: 1rem;
                font-weight: 500;
                padding: 0.313rem 0.625rem !important;
                width: 12.5rem;
                margin-block-start: -3.438rem;

                a {
                    color: #{$default-color} !important;
                }
            }

            .side-menu__icon {
                margin-inline-end: 0;
                margin-inline-start: 0;
                margin: 0 auto !important;
            }

            .app-sidebar__toggle .close-toggle {
                display: none;
            }

            .app-header {
                padding-inline-start: 18.688rem;
            }

            .app-sidebar__header {
                width: 4.375rem;
                padding: 0.625rem;

                .desktop-logo {
                    display: none !important;
                }

                .mobile-logo {
                    display: none !important;
                }

                .mobile-logo-dark {
                    display: block !important;
                }
            }

            .app-content {
                margin-inline-start: 18.75rem;
            }

            .app-sidebar__overlay {
                visibility: hidden;
            }

            .slide.is-expanded .slide-menu {
                display: none;
            }

            .slide .slide-menu {
                position: absolute;
                min-width: 14.375rem;
                opacity: 1;
                z-index: 9999;
                visibility: hidden;
                inset-block-start: 0;
                display: block;
                max-height: inherit;
            }

            .ps>.ps__rail-y {
                display: none !important;
            }

            .slide-menu {
                padding-inline-start: 0 !important;
                position: absolute;
                background: #{$sidemenu-bg};
                opacity: 1;
                visibility: visible;
                z-index: 999;
                inset-inline-start: 3.125rem;
                width: 14.375rem;
                transition: none !important;
                display: block !important;
                box-shadow: none;
                inset-block-start: 0;
            }

            .slide .slide-menu.double-menu-active {
                visibility: visible !important;
                display: block !important;
                height: 100% !important;
                position: absolute;
                inset-block-start: 0;
                padding: 1.25rem !important;
                border-radius: 0 !important;
                border-block-start: 0;
                border-block-end: 0;
                border-inline-start: 0;
                border-inline-end: 1px solid $border;
                overflow: hidden scroll;
            }

            .sidemenu-list {
              padding-block-start: 4.375rem;
            }

            .side-item.side-item-category {
                display: none !important;
            }

            .side-menu .slide .side-menu__item {
                display: block;
                text-align: center;

                .angle {
                    display: none !important;
                }
            }

            .sub-slide a {
                text-decoration: none;
            }

            .slide-item {
                padding-block: 0.5rem;
                padding-inline-start: 2.188rem;
                padding-inline-end: 1.125rem;

            }

            .app-sidebar .slide {
                position: inherit;
                display: block;
            }

            .side-menu {
                .sub-category {
                    display: none;
                }
            }

            .side-badge {
                display: none;
            }

            .app-header {
                inset-inline-start: 0;
                inset-inline-end: 0;
                inset-block-start: 0;
                position: fixed;
            }

            &.sidenav-toggled {
                .app-header {
                    padding-inline-start: 4.313rem;
                }

                .app-content {
                    margin-inline-start: 4.375rem;
                }

                .app-sidebar__toggle .close-toggle {
                    display: block;
                }

                .slide-menu.double-menu-active {
                    visibility: hidden !important;
                }
            }

        }
    }
}

// -----! DOUBLE MENU  -------//

// ----- DOUBLE-MENU-TABS -------//
[data-vertical-style="doublemenu-tabs"] {
    @media (min-width:992px) {
      .app {
        .slide .side-menu__item:hover+.slide-menu {
          visibility: hidden;
        }
  
        .app-sidebar {
          position: fixed !important;
          overflow: visible !important;
          inset-inline-start: 0;
          width: 4.375rem !important;
        }
  
        // .app-content {
        //   min-height: 81.25rem;
        // }
  
        .side-menu__label {
          display: none !important;
          font-size: 11px !important;
          white-space: nowrap;
          display: block;
          position: relative;
          padding: 0;
          margin: 0;
          inset-inline-start: 0;
          color: $default-color;
          opacity: 1;
          background: transparent;
          box-shadow: none;
        }
  
        .side-menu__label1 {
          display: block !important;
          font-size: 1rem;
          font-weight: 500;
          padding: 0.313rem 0.625rem !important;
          width: 200px;
          margin-block-start: -3.438rem;
  
          a {
            color: $default-color  !important;
          }
        }
  
        .side-menu__icon {
          margin-inline: 0;
          margin: 0 auto !important;
        }
  
        .app-sidebar__toggle .close-toggle {
          display: none;
        }
  
        .app-header {
          padding-inline-start: 21.188rem;
        }
  
        .app-sidebar__header {
          width: 4.375rem;
          padding: 0.625rem;
  
          .desktop-logo {
            display: none !important;
          }
  
          .mobile-logo {
            display: none !important;
          }
  
          .mobile-logo-dark {
            display: block !important;
          }
        }
  
        .app-content {
          margin-inline-start: 21.25rem;
        }
  
        .app-sidebar__overlay {
          visibility: hidden;
        }
  
        .slide.is-expanded .slide-menu {
          display: none;
        }
  
        .slide .slide-menu {
          position: absolute;
          inset-inline-start: 3.125rem;
          min-width: 16.875rem;
          opacity: 1;
          z-index: 9999;
          visibility: hidden;
          inset-block-start: 0;
          display: block;
          max-height: inherit;
        }
  
        &.sidenav-toggled .slide .slide-menu {
          position: absolute;
          visibility: hidden;
        }
  
        .ps>.ps__rail-y {
          display: none !important;
        }
  
        .slide-menu {
          padding-inline-start: 0 !important;
          position: absolute;
          background: #{$sidemenu-bg};
          opacity: 1;
          visibility: hidden;
          z-index: 999;
          inset-inline-start: 5rem;
          width: 16.875rem;
          transition: none !important;
          display: block !important;
          box-shadow: none;
          inset-block-start: 0;
        }
        
        .side-menu {
            .sub-category {
                display: none;
            }
        }

        .slide .slide-menu.double-menu-active {
          visibility: visible !important;
          display: block !important;
          height: 100% !important;
          position: absolute;
          inset-block-start: 0;
          padding: 1.25rem !important;
          border-radius: 0 !important;
          border-block-start: 0;
          overflow: hidden scroll;
          border-inline-end: 1px solid $border;
        }
  
        .side-item.side-item-category {
          display: none !important;
        }
  
        .side-menu {
            .slide {
                .side-menu__item {
                    display: block;
                    text-align: center;
                        i.angle {
                            display: none;
                        &.active {
                            display: block;
                            text-align: center;
                        }
                    }
                }
            }
        }
  
        .sub-slide a {
          text-decoration: none;
        }
  
        .slide-item {
          padding-block: 0.5rem;
          padding-inline-start: 2.188rem;
          padding-inline-end: 0.75rem;
        }
        
        .sub-side-menu__item, .sub-slide-item, .sub-slide-menu1 .sub-slide-item2 {
          padding-block: 0.5rem;
          padding-inline-start: 2.188rem !important;
          padding-inline-end: 0.938rem !important;
        }
  
        .app-sidebar .slide {
          position: inherit;
          display: block;
        }
  
        &.sidenav-toggled {
          .app-header {
            padding-inline-start: 4.313rem;
          }
  
          .app-content {
            margin-inline-start: 4.375rem;
          }
  
          .app-sidebar__toggle .close-toggle {
            display: block;
          }
          .slide-menu.double-menu-active {
            visibility: hidden !important;
        }
        }
  
        .app-sidebar .slide-menu .side-menu__label1 a:before {
          content: none;
        }
  
        .slide-menu .tabs-menu ul li a {
          padding: 0.375rem 0.438rem;
          margin: 0.188rem;
          text-align: center;
          border: 1px solid $border;
          color: $default-color;
          border-radius: 0.25rem;
          width: 6.563rem;
        }
  
        .tabs-menu,
        .side-account,
        .latest-timeline {
          a:before {
            content: none
          }
        }
  
        .slide-menu .sidetab-menu .panel-tabs li a {
  
          &.active,
          &:hover {
            background: $primary;
            color: #fff  !important;
            border: 1px solid $primary;
            position: relative;
            width: 6.563rem;
  
            p {
              color: #fff;
            }
          }
  
          p {
            margin-block-end: 0;
            font-size: 0.75rem;
            line-height: 0.5;
          }
        }
  
        .sidetab-menu {
            color: $default-color;
  
          .menutabs-content,
          .tab-menu-heading {
            display: block;
            padding-inline: 0.938rem;
            color: $default-color;
          }
        }
  
        .side-account li {
          padding: 7px 0;
          font-size: 0.875rem
  
          a {
            color: $default-color;
          }
        }
  
        .sidemenu-list {
          padding-block-start: 4.375rem;
        }
  
      }
  
      .app-sidebar {
        .main-sidemenu {
  
          .tab-content>.tab-pane {
            display: none !important;
          }
  
          .tab-content>.tab-pane.active {
            display: block !important;
          }
        }
      }
    }
  }
  @media (max-width: 991px){
    .app-sidebar__overlay {
        position: fixed;
        inset: 0;
        z-index: 9;
    }
    .app.sidenav-toggled .app-sidebar__overlay {
        visibility: visible;
    }
    .page {
        position: inherit;
        background: none;
    }

}
@media (max-width: 991px) {
    .app .app-sidebar__overlay {
        visibility: hidden;
    }
}
  
  // -----! DOUBLE-MENU-TABS -------//