[data-menu-style="dark"] {
    .app-sidebar {
        --menu-bg: rgb(40, 39, 58);
        --border: rgba(255, 255, 255, 0.06);
        --color: rgba(255, 255, 255, 0.6);
    }
    .app-sidebar__header {
        background-color: $sidemenu-bg;
    }
    .responsive-logo .main-logo .desktop-logo {
        display: none;

        &.desktop-logo-dark {
            display: block;
        }
    }

    .desktop-logo {
        display: block;
    }
    
    .mobile-logo, .desktop-logo-dark {
            display: none;
    }
    .side-menu__item {
        color: rgba(255, 255, 255, 0.7);
        &.active, &:hover, &:focus {
            background-color: rgba(255, 255, 255, 0.05);
            border-radius: 0.25rem;
            color: $custom-white;
            border-inline-end: 0px;
            .side-menu__icon {
                svg {
                    fill: rgba(255, 255, 255);
                }
            }
        }
    }
    .side-menu__icon {
        color: rgba(255, 255, 255, 0.7);
        svg {
            fill: rgba(255, 255, 255, 0.7);
        }
    }
    .slide-item, .sub-side-menu__item, .sub-slide-item2 {
        color: rgba(255, 255, 255, 0.7);
        &:hover, &.active, &:focus {
            color: $custom-white;
        }
    }
    .sub-angle, .sub-angle2 {
        color: rgba(255, 255, 255, 0.7) !important;
    }
    .sub-category h3 {
        color: rgba(255, 255, 255, 0.5);
    }
    .slide-right, .slide-left {
        svg {
            fill: $custom-white;
            color: $white;
        }
    }

    @media (min-width: 992px) {
        &[data-vertical-style="hover"],
        &[data-vertical-style="hover1"] {
            @media (min-width: 992px) {
                .app.show-sidenav .app-sidebar__header {

                    .desktop-logo {
                        display: none !important;
                    }

                    .mobile-logo {
                        display: block !important;
                    }

                    .mobile-logo-dark {
                        display: none !important;
                    }
                }
            }
        }

        &[data-vertical-style="doublemenu"],
        &[data-vertical-style="doublemenu-tabs"] {
            @media (min-width: 992px) {
            .app-sidebar__header {

                    .desktop-logo {
                        display: none !important;
                    }

                    .mobile-logo {
                        display: block !important;
                    }

                    .mobile-logo-dark {
                        display: none !important;
                    }
                }
            }
        }
    }

    @media (min-width: 992px) {
        .sidebar-mini.sidenav-toggled {
            .mobile-logo {
                display: block;
      
                &.mobile-logo-dark {
                display: none;
                }
            }
      
            &.show-sidenav {
                .desktop-logo {
                    display: block;
      
                    &.desktop-logo-dark {
                        display: none;
                    }
                }
      
                .mobile-logo {
                    display: none;
                }
            }
        }
    }

    .ps__rail-y.ps--clicking .ps__thumb-y {
        background-color: rgba($color: #fff, $alpha: 0.3);
    }

    .ps .ps__rail-y.ps--clicking {
        background-color: transparent;
    }

    .ps .ps__rail-y {
        &:hover, &:focus {
            background-color: transparent;
        }
    }

    .ps__thumb-y {
        background-color: transparent;
    }

    @media (min-width: 992px) {
        &[data-vertical-style=hover1],
        &[data-vertical-style=doublemenu],
        &[data-vertical-style=doublemenu-tabs] {
            .app .side-menu__label1 a {
                color: #fff !important;
            }
        } 
        &[data-vertical-style="doublemenu-tabs"] {
            .sidetab-menu {
                --muted: #828b9d;
                --white: #28273a;
                --gray-100: rgba(255, 255, 255, 0.2);
                --gray-200: #17171c;
                --gray-300: #393946;
                --gray-800: #c7c7d1;
                --color: #dde5ed;
                --form-border: rgba(255, 255, 255, 0.1);
            }
        }
    }

    @media (min-width: 992px) {
        &[data-vertical-style=doublemenu-tabs] .app .slide-menu .sidetab-menu .panel-tabs li a {
            &.active, &:hover {
                background: $menu-primary;
                border: 1px solid $menu-primary;
            }
        }
    }
}