[data-theme-color="dark"] {
    .alert-default {
        background: rgba(255, 255, 255, 0.1);
    }
    .richText .richText-toolbar{
        background: rgba(255, 255, 255, 0.1);
    }
    .sw-theme-dots>ul.step-anchor>li>a:before {
        background: rgba(255, 255, 255, 0.1);
    }
    .panel-default>.panel-heading {
        background: rgba(255, 255, 255, 0.1);
    }
    .tabs-style5>.panel-head>.nav-tabs {
        background: rgba(255, 255, 255, 0.1);
    }
    .card-category {
        background: rgba(255, 255, 255, 0.1);
    }
    .progress {
        background: rgba(255, 255, 255, 0.1);
    }
    .irs-line-left {
        background: rgba(255, 255, 255, 0.1);
    }
    .irs-line-mid {
        background: rgba(255, 255, 255, 0.1);
    }
    .irs-line-right {
        background: rgba(255, 255, 255, 0.1);
    }
     .header-brand-img {
        display: none;
    }
     .theme-logos {
        display: block;
        margin-inline: auto;
    }
    .demo_changer .form_holder {
        background: $white !important;
    }
    .breadcrumb-item.active {
        color: rgba(255, 255, 255, 0.6);
    }
    .breadcrumb-item+.breadcrumb-item::before {
        color: rgba(255, 255, 255, 0.6);
    }
    .light-layout {
        display: none;
    }
    .dark-layout {
        display: flex !important;
    }
    .modal-header, .toast-header {
        .btn-close {
            filter: invert(1);
        }
    }
    button.btn-close {
        filter: invert(1);
    }
    .alert {
        button.btn-close {
            filter: invert(0);
        }  
    }
    .toast {
        .custom-close-btn {
            filter: invert(1);
        }
    }
    .cbp_tmtimeline {
        .cbp_tmtime {
            .hidden.text-white, .large.text-white {
                color: $black !important;
            }
        }
        &:before {
            background: rgba(255, 255, 255, 0.2);
        }
    }
    .circle-icon {
        color: $black;
    }
    .table-striped>tbody>tr:nth-of-type(odd)>* {
        color: $default-color;
    }
    .theme-container, .theme-container1, .theme-container2 {
        button {
            color: $default-color;
        }
    } 
    .ms-choice.disabled {
        background-color: $background;
    }
    .demo_changer .form_holder {
        border-inline-start: 1px solid rgba(255, 255, 255, 0.1);
    }
    .apexcharts-legend-text {
        color: #cecece !important;
    }
    .table-striped>tbody>tr:nth-of-type(odd)>* {
        --bs-table-accent-bg: #1a1928;
        color: $default-color;
    }
    #world-map-markers path {
        fill: rgba(255, 255, 255, 0.05);
        stroke: var(--dark-theme);
    }
    .table-primary, .table-secondary, .table-info, .table-success, .table-danger, .table-warning {
        td {
            color: $custom-white;
        }
    }
    .sw-theme-dots {
        > ul.step-anchor {
            &:before {
                background-color: $black-1;
            }
        }
    }
    .text-white {
        color: $default-color !important;
    }
    &[data-width="boxed"] {
        @media (min-width: 1400px) {
            body {
    
                .page {
                    box-shadow: #ffffff1a 0 3px, #ffffff1a 0 20px 15px;
                }
            }
        }
    }
    &[data-vertical-style="doublemenu-tabs"],
    &[data-menu-style="light"] {
        .form-control {
            &::placeholder {
                color: rgba(0, 0, 0, 0.4);
            }
        }
        .btn-light {
            color: #9d9ea5;
        }
    }
    &[data-header-style="light"] {
        .dropdown-divider {
            border-block-start: 1px solid rgba(255, 255, 255, 0.06) !important;
        }
        .dropdown-menu-arrow:before {
            border-inline-end: 1px solid rgba(255, 255, 255, 0.06);
            border-block-start: 1px solid rgba(255, 255, 255, 0.06);
        }
    }
}